
/* ------------------------------------------------------------------------------
	Colors definitions
-------------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$grey-dark: #343434;
$grey-light: #343434;
$turkiz: #1ABC9C;
$orange: #f56857;


/* ------------------------------------------------------------------------------
	fonts definitions
-------------------------------------------------------------------------------*/
$font-source:'Source Sans Pro', sans-serif;
$font-jura:'Jura', sans-serif;
$font-lato:'Lato', sans-serif;
$font-roboto:'Roboto', sans-serif;
$font-arial:'Arial';


/* ------------------------------------------------------------------------------
	Global Styles
-------------------------------------------------------------------------------*/
body {
	font-family: $font-source, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.50;
	color: #333333;
	background-color: #fff;
	position: relative;
}
html, body {
	height: 100%;
}

a {
	color: $turkiz;
}
a:hover {
	color: $black;
}
a:focus,
a:active {
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	transition: background-color, color, 0.3s;
}


.large {
	font-size: 18px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
blockquote {
	border-left: none;
	padding-left: 0;
	padding-right: 0;
	padding-top: 5px;
}
.title {
	margin-top: 0;
}


/* ------------------------------------------------------------------------------
	Typography
-------------------------------------------------------------------------------*/
p {
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
h1 {
	font-size: 65px;
	color: #2d3033;
}
h2 {
	font-size: 40px;
	color: #2d3033;
}
h3 {
	font-size: 28px;
	color: #2d3033;
	font-weight: 300;
}
h4 {
	font-size: 22px;
	color: #2d3033;
	font-weight: 400;
}
h5 {
	font-size: 14px;
	color: #2d3033;
	text-transform: uppercase;
	font-weight: 700;
}

/* ------------------------------------------------------------------------------
	Buttons
-------------------------------------------------------------------------------*/
.btn {
	background-color: $turkiz;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: 0;
	border-radius: 2px;
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid $turkiz;
}
.btn:hover, .btn:focus {
	background-color: transparent;
	color: $turkiz;
}
.btn-large {
	padding: 15px 40px;
}

.btn-ultra {
    background: $turkiz;
    border: 4px solid $turkiz;
    border-radius: 0;
    box-shadow: none;
    color: $white;
    font-weight: 700;
    padding: 18px 45px;
    min-width: 380px;
    font-size: 24px;
    margin: 0 40px;
    -webkit-font-smoothing: antialiased;
    transition: all .25s;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1,1);
}

.btn-ultra:hover {
    background: transparent;
    border: 4px solid #fff;
    color: #fff;
    padding: 30px 50px;
    margin-top: -12px;
    margin-bottom: -12px
}

.btn-ultra em {
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}


.btn-ultra-white {
    background: $turkiz;
    border: 4px solid $turkiz;
    color: $white;
}

.btn-ultra-white:hover {
    background: transparent;
    border: 4px solid $turkiz;
    color: $turkiz;
}



/* ------------------------------------------------------------------------------
	All Sections
-------------------------------------------------------------------------------*/

.section {
	background-color: #ffffff;
	padding: 80px 0;
}

/*----------------------------------------------------------------------------- */
.caption-data {position: absolute; top: 50%; left: 50%; z-index: 20; text-align: center; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); transform: translate(-50%,-50%);}
.caption-data h1 {text-transform: uppercase;}
.caption-data h1 span {font-size: inherit; line-height: inherit; font-weight: inherit;}
.caption-data h3{line-height:34px;}
button.cta-button.btn-light, button.cta-button.btn-dark, .contact-form button.cta-button, button.cta-button.btn-default {background: #FFFFFF;color: #09776C;}
button.cta-button {
font-size: 14px;
line-height: 16px;padding: 20px 50px;
border-radius: 4px;
font-family: 'Raleway';
font-weight: 600;
transition: background 0.3s, border-color 0.3s;
margin-top:20px;border-radius: 0;text-shadow: none;}
button.cta-button:hover{background: #2C3E50;color: #FFF;}












/* Misc
----------------------------------------------------------------------------- */
.no-view {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible,
.touch .no-view {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}


/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
	.object-visible,
	.touch .no-view {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}
.space {
	padding: 20px 0;
}

.secPadding{
padding: 70px 0;
}
.price-table .panel-heading h3{
font-size:42px;
}
.list-group-item{
    padding: 15px 15px;
}


// CUSTOME CSS FILE --------------------------------------------------------------------------------------------
/* Body */
h1 {
    font-size: 44px;
    text-align: center;
    margin: 0 0 22px;
    padding-bottom: 16px;
    font-weight: 300;
}

/* Nav */
.main-navigation .navbar-default .navbar-nav > li > a {
    font-family: 'Open Sans', serif;
}

/* Features section */
.grey-background {
  background-color: #e9f0f2;
}
.text-right {
  float: right;
}


 /* changing text from Right in lg screens to left in Sm screens */
.left {
  text-align: right;
 }

 @media (max-width: 700px){
   .left {
     text-align: left;
    }
 }
