
<div id="banner" class="banner">
  <div class="banner-image"></div>
  <div class="banner-caption">
    <div class="container">
      <div class="row">
        <div class="caption-data" style="margin-top: 0px; opacity: 1;" data-animation-effect="fadeIn">
            <h1>excell in business</h1>
            <h3 class="padding-top30">Yes - Start, run and grow your business. Eos debitis prominus.</h3>
            <div class="padding-top60 contact-form">
              <a href="#" data-toggle="modal" data-target="#project-1"><button class="btn cta-button">Sign-up</button></a><br />
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
