
/* services ---------------------------------- */


  /* block-lists
  ---------------------------------- */
  .block-list .media-left {
  	width: 60px;
  }
  .block-list p{font-size: 14px;}
  .block-list .fa {
  padding: 20px;width: 88px;height: 88px;
  border-radius: 50%;color: #FFFFFF;background: #1ABC9C;}
