
/* banner ---------------------------------- */
.banner {
	width: 100%;
	height: 100%;
	min-height: 100%;
	position: relative;
	color: #fff;
}
.banner-image {
	vertical-align: middle;
	min-height: 100%;
	width: 100%;
}
.banner:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background-color: rgba(0, 0, 0, 0.52); */
	content: "";
}
.banner-caption {
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 2;
}

.banner-caption h1,
.banner-caption h2,
.banner-caption h3,
.banner-caption h4,
.banner-caption h5,
.banner-caption h6 {
	color: #C5FFF8;
}
.banner-caption h1 {
	font-size: 45px;
}


/* banner media-queries ---------------------------------- */
@media (max-width:767px) {
	.banner-caption h1 {
    font-size: 36px;
	}
}
