
/* welcome ---------------------------------- */
.hero-caption{
text-align:center;padding: 60px 0;background: #2C3E50;color: #8D9DAD;}
.hero-caption h2{
text-align:center;color: #fff;}
.hero-caption p{

font-size: 15px;
}
