
/* header ---------------------------------- */
.header {
	color: #ffffff;
	background-color: transparent;
	padding: 10px 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}


/* Logo, Site Name, Site Slogan
---------------------------------- */
.logo {
	margin: 10px 0px 10px 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.logo,
.logo-section {
	float: left;
}
.brand {
	font-size: 38px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	padding: 10px 0;
}
.brand a {
	color: #ffffff;
	font-weight: bold;
}
.brand a:hover {
	text-decoration: none;
}
.site-slogan {
	font-size: 12px;
}




/* Navigations
----------------------------------------------------------------------------- */
.header .navbar {
	margin-bottom: 0;
}
.main-navigation .navbar-default {
	background-color: transparent;
	border: none;
}
.main-navigation .navbar-default .navbar-nav > li > a {
	color: #6BD4C9;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 500;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
	background-color: rgba(254, 255, 255, 0.16);
	color: #FFFFFF;
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
	color: #1ABC9C;
}


/* Fixed Header
----------------------------------------------------------------------------- */
.fixed-header-on .header {
	background-color: rgb(44, 62, 80);
	padding: 10px 0;
}
.fixed-header-on .brand {
	font-size: 24px;
}
.fixed-header-on .logo {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	margin-top: 0;
	margin-bottom: 0;
}

@media (min-width:768px) {
	.fixed-header-on .navbar-default .navbar-nav > li > a {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width:991px) {
	.fixed-header-on .logo,
	.fixed-header-on .brand,
	.fixed-header-on .site-slogan {
		display: none;
	}
}



@media (min-width:768px) {
	.main-navigation .navbar-default .navbar-nav > li > a {
		padding-top: 30px;
		padding-bottom: 30px;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
}
@media (min-width:768px) and (max-width:991px) {
	.main-navigation .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-nav {
		float: left !important;
	}
}


@media (max-width:767px) {
	.header.navbar-fixed-top {
		position: absolute;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background: #0E8275;
	}
}
