
/* footer ---------------------------------- */


.subfooter {
	background-color: #1ABC9C;
	padding: 40px 0;
}
.subfooter a {color: #000000;}

.footer h1{
color:#fff;
}
.footer.section {background: #2C3E50;color: #E6E6E6;}
.subfooter p {
	margin-bottom: 0;
	color: #fff;
}




/* Social Links ------ */
.social-links {
	padding: 0;
	list-style: none;
	margin: 15px 0;
}
.social-links li {
	margin: 10px 10px 10px 0;
	display: inline-block;
	font-size: 36px;
}
.social-links li a {
	color: #BBBBBB;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 1px solid #D0D0D0;
	width: 52px;
	height: 52px;
	display: inline-block;
	border-radius: 50%;
	font-size: 20px;
	text-align: center;
	padding: 4px;
	line-height: 41px;
}
.social-links li.twitter a:hover {
	color: #55acee;
}
.social-links li.skype a:hover {
	color: #00aff0;
}
.social-links li.linkedin a:hover {
	color: #0976b4;
}
.social-links li.googleplus a:hover {
	color: #dd4b39;
}
.social-links li.youtube a:hover {
	color: #b31217;
}
.social-links li.flickr a:hover {
	color: #ff0084;
}
.social-links li.facebook a:hover {
	color: #3b5998;
}
.social-links li.pinterest a:hover {
	color: #cb2027;
}
